fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
pydantic
langgraph

psycopg[binary]
google-generativeai
ddgs
langchain
langchain-community
faiss-cpu
pypdf
requests
beautifulsoup4
duckduckgo-search
python-multipart
